@tailwind base;
@tailwind components;
@tailwind utilities;

.image-main {
  /* todo: change */
  background-image: url(https://images.unsplash.com/photo-1542957057-debadce4ce81?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80);
}

.image-about {
  background-image: url(https://images.unsplash.com/photo-1599589915468-b4c71ed62543?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80);
}

.button, button { 
  cursor: pointer;
  text-decoration: underline;
}
